{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница-Shak`s media</title>

    <link rel="stylesheet" href="{% static 'project/assets/css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/assets/css/plugins/plugins.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'project/assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/assets/css/ex_style.css' %}">

</head>

<body>
{% include 'layout/nav.html' %}



<div class="container-fluid">
{% block content %}


{% endblock content %}
</div>
{% include 'layout/footer.html' %}

</body>
</html>